@model IEnumerable<TaskMaster.Models.Person>

@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th></th>
        </tr>
    </thead>
    </tbody>
</table>
